<div id="main" ng-if="isPage">

	<div class="banner-home">
		<div  class="container">

		    <div ng-include="'app/templates/views/partial/search-imoveis.html'"></div>

		</div>
	</div>

	<div id="lancamentos" class="session bg-gray" ng-if="lancamentosImoveis">
		<div class="container">
			<h3 class="title">Lançamentos em destaque{{ localizacao }}</h3>
			<ul class="row">
			  <li class="col-xs-12 col-md-4" ng-repeat="p in lancamentosImoveis">
			    <div class="post lancamentos">
					<div class="gallery">						
						<ul class="owl-carousel">
							<li ng-repeat="img in p.galeria" class="item">
								<a href="{{p.link}}">
								  <div class="image" style="background-image: url({{ img.image  }});">
								    <img ng-src="{{img.thumb}}">
								  </div>
								</a>
							</li>
						</ul>
					</div>
					<div class="entry">
						<span>{{ p.bairro }}, {{ p.cidade }} - {{ p.estado }}</span>
						<span class="subtitle"><a href="{{p.link}}">{{ p.nome }}</a></span>
							<ul>
							  <li>
							    <span class="icon icon-area"></span>
							    <span class="t">{{ p.area }}</span>
							    <span class="small">Área Total</span>
							  </li>
							  <li>
							    <span class="icon icon-key"></span>
							    <span class="t">{{ p.qtd_quartos }}</span>
							    <span class="small">Quartos</span>
							  </li>
							  <li>
							    <span class="icon icon-hygienic"></span>
							    <span class="t">{{ p.qtd_banheiros }}</span>
							    <span class="small">Banheiros</span>
							  </li>
							  <li>
							    <span class="icon icon-car"></span>
							    <span class="t">{{ p.qtd_vagas }}</span>
							    <span class="small">Vagas</span>
							  </li>
							</ul>
							<a href="{{p.link}}" class="btn btn-info">Detalhes</a>
						</div>
					</div>
			  </li>
			</ul>
		</div>
	</div>

	<div id="sugestoes" class="session bg-gray" ng-if="sugestoesImoveis">
		<div class="container">
			<h3 class="title">Sugestões de imóveis pra você comprar{{ localizacao }}</h3>
			<ul class="row">
			  <li class="col-xs-12 col-md-4" ng-repeat="p in sugestoesImoveis">
			    <div class="post comprar">
					<div class="gallery">						
						<ul class="owl-carousel">								
							<li ng-repeat="img in p.galeria" class="item">
								<a href="{{p.link}}">
									<div class="image" style="background-image: url({{ img.image  }});">
										<img ng-src="{{img.thumb}}">
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="entry">
						<span>{{ p.bairro }}, {{ p.cidade }} - {{ p.estado }}</span>
						<span class="subtitle"><a href="{{p.link}}">{{ p.nome }}</a></span>
							<ul>
							  <li>
							    <span class="icon icon-area"></span>
							    <span class="t">{{ p.area }}</span>
							    <span class="small">Área Total</span>
							  </li>
							  <li>
							    <span class="icon icon-key"></span>
							    <span class="t">{{ p.qtd_quartos }}</span>
							    <span class="small">Quartos</span>
							  </li>
							  <li>
							    <span class="icon icon-hygienic"></span>
							    <span class="t">{{ p.qtd_banheiros }}</span>
							    <span class="small">Banheiros</span>
							  </li>
							  <li>
							    <span class="icon icon-car"></span>
							    <span class="t">{{ p.qtd_vagas }}</span>
							    <span class="small">Vagas</span>
							  </li>
							</ul>
							<a href="{{p.link}}" class="btn btn-info">Detalhes</a>
						</div>
					</div>
			  </li>
			</ul>
		</div>
	</div>

</div>