/*Cores dos site*/
@font-face {
  font-family: "Flaticon";
  src: url("fonts/icons-site/Flaticon.eot");
  src: url("fonts/icons-site/Flaticon.eot?#iefix") format("embedded-opentype"), url("fonts/icons-site/Flaticon.woff") format("woff"), url("fonts/icons-site/Flaticon.ttf") format("truetype"), url("fonts/icons-site/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/icons-site/Flaticon.svg#Flaticon") format("svg"); } }
[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {
  font-family: Flaticon;
  font-style: normal; }

.icon-chevron-arrow-up:before {
  content: "\f100"; }

.icon-chevron-arrow-down:before, #main .search-imovel .custom-select:before {
  content: "\f101"; }

.icon-search:before {
  content: "\f102"; }

.icon-message-closed-envelope:before {
  content: "\f103"; }

.icon-phone-receiver:before {
  content: "\f104"; }

.icon-social-network:before {
  content: "\f105"; }

.icon-play:before {
  content: "\f106"; }

.icon-social-media:before {
  content: "\f107"; }

.icon-square:before {
  content: "\f108"; }

.icon-star:before {
  content: "\f109"; }

.icon-bookmark-star:before {
  content: "\f10a"; }

.icon-star-half-empty:before {
  content: "\f10b"; }

.icon-placeholder:before {
  content: "\f10c"; }

.icon-question:before {
  content: "\f10d"; }

.icon-mail:before {
  content: "\f10e"; }

.icon-smartphone:before {
  content: "\f10f"; }

.icon-arrowhead-thin-outline-to-the-left:before {
  content: "\f110"; }

.icon-arrow-point-to-right:before {
  content: "\f111"; }

.icon-area:before {
  content: "\f112"; }

.icon-type-imovel:before {
  content: "\f113"; }

.icon-car:before {
  content: "\f114"; }

.icon-hygienic:before {
  content: "\f115"; }

.icon-key:before {
  content: "\f116"; }

.icon-apartment-prices:before {
  content: "\f117"; }

.transition-default, .btn {
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out; }

.transition-default-hover, .btn-hover {
  transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s; }

.transition-default-geral, .navbar.navbar-inverse, .navbar.navbar-inverse .navbar-nav > li.active a, #main .search-imovel .form-control,
#main .search-imovel .btn-search {
  transition: all 1000ms linear;
  -moz-transition: all 1000ms linear;
  -webkit-transition: all 1000ms linear;
  -o-transition: all 1000ms linear; }

.square {
  border-radius: 50px;
  -webkit-animation: spinning 0.75s infinite linear;
  animation: spinning 0.75s infinite linear; }

.btn {
  background-color: #6114cc;
  color: white;
  border: none;
  padding: 12px 50px;
  font-size: 16px;
  text-transform: uppercase; }

.btn-hover {
  color: white;
  background-color: #4b0ba5; }

@-webkit-keyframes spinning {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(180deg); } }

@keyframes spinning {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(180deg); } }

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
  outline: none; }

*::selection {
  background-color: #6114cc;
  color: white; }

*::-moz-selection {
  background-color: #6114cc;
  color: white; }

body {
  background-color: #f5f3f3; }

p {
  font-size: 15px; }

div, li, p, em, span, i, pre {
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1 {
  font-size: fonteH1; }

h1 {
  font-size: fonteH2; }

h3 {
  font-size: fonteH3; }

a:focus, button:focus, input:focus, select:focus {
  outline: none; }

h1 a:focus, h1 a:hover, h1 a:active,
h2 a:focus,
h2 a:hover,
h2 a:active,
h3 a:focus,
h3 a:hover,
h3 a:active,
h4 a:focus,
h4 a:hover,
h4 a:active,
h5 a:focus,
h5 a:hover,
h5 a:active,
h6 a:focus,
h6 a:hover,
h6 a:active,
.title a:focus,
.title a:hover,
.title a:active,
.subtitle a:focus,
.subtitle a:hover,
.subtitle a:active {
  text-decoration: none; }

.subtitle, .title {
  display: block;
  font-weight: 600; }

.bg-gray {
  background-color: #e4e0d7; }

.navbar.navbar-inverse {
  background-color: #6114cc;
  border-color: #4b0ba5; }
  .navbar.navbar-inverse .navbar-brand,
  .navbar.navbar-inverse .navbar-nav > li > a,
  .navbar.navbar-inverse .navbar-text {
    color: white; }
  .navbar.navbar-inverse .navbar-nav > li.active a {
    background-color: #4b0ba5;
    color: white; }

.btn-info {
  background-color: #6114cc;
  border-color: #4b0ba5;
  color: white; }
  .btn-info:hover {
    background-color: #4b0ba5;
    border-color: #4b0ba5; }

.pagination {
  display: table;
  margin: auto; }
  .pagination > li > a, .pagination > li > span {
    color: #4b0ba5; }
    .pagination > li > a:hover, .pagination > li > span:hover {
      color: #4b0ba5; }
  .pagination > .active > a, .pagination > .active > a:hover {
    background-color: #6114cc;
    border-color: #4b0ba5;
    color: white; }

.form-control:focus {
  box-shadow: none;
  border-color: #4b0ba5; }

.breadcrumb {
  margin: 50px 0 0 0;
  background-color: white;
  border-bottom: 1px solid #cccccc;
  border-radius: 0; }
  .breadcrumb .links {
    list-style: none;
    color: rgba(0, 0, 0, 0.54); }
    .breadcrumb .links li {
      float: left; }
      .breadcrumb .links li + li:before {
        content: "/";
        margin: 0 10px;
        display: inline-block; }
      .breadcrumb .links li a {
        color: rgba(0, 0, 0, 0.54); }

.loaded {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.6); }
  .loaded .square {
    width: 50px;
    height: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: #6114cc #f5f3f3;
    margin: 200px auto auto; }
  .loaded span {
    display: table;
    margin: 200px auto auto;
    color: rgba(0, 0, 0, 0.54);
    font-size: 18px;
    text-align: center; }

body.home #main {
  margin-top: 70px; }

#main {
  margin-top: 20px; }
  #main p, #main li, #main span, #main div, #main em {
    color: rgba(0, 0, 0, 0.54); }
  #main .search-imovel .form-control,
  #main .search-imovel .btn-search {
    height: 44px;
    padding: 12px; }
  #main .search-imovel .btn-search {
    background-color: #6114cc;
    color: white;
    border-radius: 4px;
    font-weight: 600;
    padding: 12px 30px; }
    #main .search-imovel .btn-search:hover {
      background-color: #4b0ba5; }
    #main .search-imovel .btn-search i {
      margin-right: 10px; }
  #main .search-imovel .custom-select {
    position: relative; }
    #main .search-imovel .custom-select select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      position: relative;
      z-index: 1; }
      #main .search-imovel .custom-select select option {
        padding: 5px; }
        #main .search-imovel .custom-select select option:nth-child(odd) {
          background-color: #eee; }
        #main .search-imovel .custom-select select option:hover, #main .search-imovel .custom-select select option:focus, #main .search-imovel .custom-select select option:active, #main .search-imovel .custom-select select option:checked {
          background-image: -webkit-linear-gradient(#6114cc, #6114cc);
          background-image: -moz-linear-gradient(#6114cc, #6114cc);
          background-image: -ms-linear-gradient(#6114cc, #6114cc);
          background-image: -o-linear-gradient(#6114cc, #6114cc);
          background-image: linear-gradient(#6114cc, #6114cc); }
      #main .search-imovel .custom-select select:focus {
        outline: none; }
    #main .search-imovel .custom-select:before {
      width: 40px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      position: absolute;
      right: 0;
      background-color: #eee;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      font-family: "Flaticon"; }
  #main .search-imovel .input-cat label {
    background-color: #cccccc;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px 20px;
    font-weight: 400;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    float: left; }
    #main .search-imovel .input-cat label + label {
      margin-left: 2px; }
    #main .search-imovel .input-cat label input {
      position: absolute; }
  #main .search-imovel .sch-control {
    position: relative; }
    #main .search-imovel .sch-control .autocomp {
      width: calc(100% - 30px);
      background-color: white;
      position: absolute;
      top: auto;
      padding: 20px 30px;
      border-radius: 4px;
      box-shadow: 0 0 3px #cccccc;
      z-index: 2; }
      #main .search-imovel .sch-control .autocomp p {
        margin: 0 0 10px; }
      #main .search-imovel .sch-control .autocomp ul {
        width: 100%;
        float: left;
        list-style: none; }
      #main .search-imovel .sch-control .autocomp.result {
        background-color: #f5f3f3;
        z-index: 1;
        padding: 5px; }
        #main .search-imovel .sch-control .autocomp.result li.lab {
          font-weight: 600; }
        #main .search-imovel .sch-control .autocomp.result li:nth-child(odd) {
          background-color: #eee; }
        #main .search-imovel .sch-control .autocomp.result li a {
          display: block;
          color: rgba(0, 0, 0, 0.54);
          font-size: 13px;
          padding: 8px;
          font-weight: 600;
          text-transform: uppercase; }
          #main .search-imovel .sch-control .autocomp.result li a .icon-placeholder {
            font-size: 13px;
            margin-right: 10px; }
          #main .search-imovel .sch-control .autocomp.result li a:hover, #main .search-imovel .sch-control .autocomp.result li a:focus, #main .search-imovel .sch-control .autocomp.result li a:active {
            background-color: #6114cc;
            color: white;
            text-decoration: none; }
          #main .search-imovel .sch-control .autocomp.result li a:focus, #main .search-imovel .sch-control .autocomp.result li a:active {
            text-decoration: none; }
  #main .session {
    width: 100%;
    float: left;
    background-color: white;
    border: 1px solid #cccccc;
    margin: 20px 0;
    padding: 15px; }
  #main .gallery {
    width: 100%;
    height: 457px;
    float: left; }
    #main .gallery ul {
      width: 100%;
      height: 100%;
      float: left;
      position: relative;
      overflow: hidden;
      list-style: none; }
      #main .gallery ul li {
        width: 100%;
        height: 100%;
        float: left; }
        #main .gallery ul li .image {
          width: 100%;
          height: 100%;
          float: left;
          background-size: cover; }
          #main .gallery ul li .image img {
            display: none; }
  #main .result-info h3 {
    margin: 0; }
  #main .posts {
    width: 100%;
    float: left;
    background-color: white;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
    padding: 15px; }
    #main .posts h3 a {
      color: rgba(0, 0, 0, 0.54); }
      #main .posts h3 a:hover {
        text-decoration: none; }
    #main .posts ul {
      width: 100%;
      float: left;
      list-style: none; }
      #main .posts ul li {
        float: left;
        margin-right: 30px; }
        #main .posts ul li span {
          display: block; }
          #main .posts ul li span.t {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 0px; }
          #main .posts ul li span.small {
            text-align: center;
            margin-bottom: 10px; }
    #main .posts .gallery {
      height: 225px; }
    #main .posts .entry h3 {
      margin-top: 5px; }
  #main .post .info {
    height: 457px; }
    #main .post .info ul {
      list-style: none; }
      #main .post .info ul li {
        width: 100%;
        float: left;
        border-bottom: 1px solid #f5f3f3;
        margin-bottom: 15px; }
        #main .post .info ul li:last-child {
          border-bottom: 0; }
        #main .post .info ul li .icon {
          width: 40px;
          display: block;
          font-size: 23px;
          color: #e4e0d7;
          float: left; }
        #main .post .info ul li .cont {
          width: calc(100% - 40px);
          float: left; }
        #main .post .info ul li span {
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 300; }
        #main .post .info ul li h3 {
          margin: 0 0 10px;
          text-indent: 5px;
          font-size: 20px;
          font-weight: 600; }
          #main .post .info ul li h3.t {
            font-size: 16px; }
        #main .post .info ul li .in {
          padding-left: 10px; }
  #main .post .intro p, #main .post .intro div, #main .post .intro i, #main .post .intro em, #main .post .intro span {
    font-size: 15px;
    margin-bottom: 20px; }
  #main .post .intro h1, #main .post .intro h2, #main .post .intro h3, #main .post .intro h4, #main .post .intro h5, #main .post .intro h6 {
    font-size: 18px;
    margin: 0 0 20px; }
  #main .post .intro .caract li {
    list-style-position: inside;
    margin-bottom: 5px;
    font-size: 15px; }
  #main .post #map {
    width: 100%;
    height: 300px; }

#relation {
  width: 100%;
  float: left;
  margin: 20px 0;
  padding: 15px 0; }
  #relation .title {
    color: rgba(0, 0, 0, 0.54);
    margin: 0 0 20px; }
  #relation ul {
    list-style: none; }
    #relation ul li .post {
      width: 100%;
      height: 100%;
      float: left;
      padding: 15px;
      background-color: white;
      border: 1px solid #cccccc; }
      #relation ul li .post .entry li {
        margin-bottom: 10px; }
        #relation ul li .post .entry li:last-child {
          padding-bottom: 15px;
          border-bottom: 1px solid #f5f3f3; }
      #relation ul li .post .icon {
        margin-right: 5px; }
      #relation ul li .post span {
        color: rgba(0, 0, 0, 0.54);
        font-size: 15px; }
      #relation ul li .post .image {
        width: 100%;
        height: 225px;
        float: left;
        background-size: cover;
        margin-bottom: 10px; }
        #relation ul li .post .image img {
          display: none; }
      #relation ul li .post .subtitle {
        margin: 5px 0 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #f5f3f3; }
        #relation ul li .post .subtitle a {
          color: rgba(0, 0, 0, 0.54); }
      #relation ul li .post .btn-info {
        display: table;
        margin: 15px auto auto; }

body.alugar .navbar.navbar-inverse {
  background-color: #1190cd;
  border-color: #00acff; }
  body.alugar .navbar.navbar-inverse .navbar-nav > li.active a {
    background-color: #00acff; }
body.alugar .btn-info {
  background-color: #1190cd;
  border-color: #00acff; }
  body.alugar .btn-info:hover {
    background-color: #00acff;
    border-color: #00acff; }
body.alugar .loaded .square {
  border-color: #1190cd #f5f3f3; }
body.alugar .pagination {
  display: table;
  margin: auto; }
  body.alugar .pagination > li > a, body.alugar .pagination > li > span {
    color: #00acff; }
    body.alugar .pagination > li > a:hover, body.alugar .pagination > li > span:hover {
      color: #00acff; }
  body.alugar .pagination > .active > a, body.alugar .pagination > .active > a:hover {
    background-color: #1190cd;
    border-color: #00acff;
    color: white; }
body.alugar .form-control:focus {
  box-shadow: none;
  border-color: #00acff; }
body.alugar #main .search-imovel .btn-search {
  background-color: #1190cd; }
  body.alugar #main .search-imovel .btn-search:hover {
    background-color: #00acff; }
body.alugar #main .custom-select select option:hover, body.alugar #main .custom-select select option:focus, body.alugar #main .custom-select select option:active, body.alugar #main .custom-select select option:checked {
  background-image: -webkit-linear-gradient(#00acff, #00acff);
  background-image: -moz-linear-gradient(#00acff, #00acff);
  background-image: -ms-linear-gradient(#00acff, #00acff);
  background-image: -o-linear-gradient(#00acff, #00acff);
  background-image: linear-gradient(#00acff, #00acff); }
body.alugar #main .sch-control .autocomp.result li a:hover, body.alugar #main .sch-control .autocomp.result li a:focus, body.alugar #main .sch-control .autocomp.result li a:active {
  background-color: #00acff; }

body.lancamento .navbar.navbar-inverse,
body.lancamentos .navbar.navbar-inverse {
  background-color: #25e5cc;
  border-color: #1ec9b2; }
  body.lancamento .navbar.navbar-inverse .navbar-nav > li.active a,
  body.lancamentos .navbar.navbar-inverse .navbar-nav > li.active a {
    background-color: #1ec9b2; }
body.lancamento .btn-info,
body.lancamentos .btn-info {
  background-color: #25e5cc;
  border-color: #1ec9b2; }
  body.lancamento .btn-info:hover,
  body.lancamentos .btn-info:hover {
    background-color: #1ec9b2;
    border-color: #1ec9b2; }
body.lancamento .loaded .square,
body.lancamentos .loaded .square {
  border-color: #25e5cc #f5f3f3; }
body.lancamento .pagination,
body.lancamentos .pagination {
  display: table;
  margin: auto; }
  body.lancamento .pagination > li > a, body.lancamento .pagination > li > span,
  body.lancamentos .pagination > li > a,
  body.lancamentos .pagination > li > span {
    color: #1ec9b2; }
    body.lancamento .pagination > li > a:hover, body.lancamento .pagination > li > span:hover,
    body.lancamentos .pagination > li > a:hover,
    body.lancamentos .pagination > li > span:hover {
      color: #1ec9b2; }
  body.lancamento .pagination > .active > a, body.lancamento .pagination > .active > a:hover,
  body.lancamentos .pagination > .active > a,
  body.lancamentos .pagination > .active > a:hover {
    background-color: #25e5cc;
    border-color: #1ec9b2;
    color: white; }
body.lancamento .form-control:focus,
body.lancamentos .form-control:focus {
  box-shadow: none;
  border-color: #1ec9b2; }
body.lancamento #main .search-imovel .btn-search,
body.lancamentos #main .search-imovel .btn-search {
  background-color: #25e5cc; }
  body.lancamento #main .search-imovel .btn-search:hover,
  body.lancamentos #main .search-imovel .btn-search:hover {
    background-color: #1ec9b2; }
body.lancamento #main .custom-select select option:hover, body.lancamento #main .custom-select select option:focus, body.lancamento #main .custom-select select option:active, body.lancamento #main .custom-select select option:checked,
body.lancamentos #main .custom-select select option:hover,
body.lancamentos #main .custom-select select option:focus,
body.lancamentos #main .custom-select select option:active,
body.lancamentos #main .custom-select select option:checked {
  background-image: -webkit-linear-gradient(#1ec9b2, #1ec9b2);
  background-image: -moz-linear-gradient(#1ec9b2, #1ec9b2);
  background-image: -ms-linear-gradient(#1ec9b2, #1ec9b2);
  background-image: -o-linear-gradient(#1ec9b2, #1ec9b2);
  background-image: linear-gradient(#1ec9b2, #1ec9b2); }
body.lancamento #main .sch-control .autocomp.result li a:hover, body.lancamento #main .sch-control .autocomp.result li a:focus, body.lancamento #main .sch-control .autocomp.result li a:active,
body.lancamentos #main .sch-control .autocomp.result li a:hover,
body.lancamentos #main .sch-control .autocomp.result li a:focus,
body.lancamentos #main .sch-control .autocomp.result li a:active {
  background-color: #1ec9b2; }
