$heightGallery: 457px;
$heightMinGallery: 225px;

/*Cores dos site*/
$bodyBackground: #f5f3f3;
$branco: #fff;

$principal: #6114cc;
$principalStrong: #4b0ba5;

$principalAlugar: #1190CD;
$principalAlugarStrong: #00ACFF;

$principalLancamento: #25E5CC;
$principalLancamentoStrong: #1ec9b2;

$cinza: #ccc;
$cinzaEscuro: rgba(0, 0, 0, 0.54);
$cinzaBgEscuro: #e4e0d7;


$fontePadrao: 15px;
$fonteH1: 26px;
$fonteH2: 23px;
$fonteH3: 18px;